
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

.collapse:not(.show) #arrow svg {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.collapse.show #arrow svg {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.card {
    background-color: rgb(40, 84, 112);
    border-radius: 8px;
    overflow: hidden;
}
.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}
.card-text, text-muted {
    font-size: 0.9rem;
    color: #000000;
}  
.card-text {
    white-space: pre-line; 
    overflow-wrap: break-word; /* Prevent long words from breaking layout */
}
.card-body h1 {
    font-size: 2rem;
    font-weight: bold;
}

.card-body p {
    font-size: 1.1rem;
}

/* Background */

body {
    background-image: url("../main/background.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    color: #fff; /
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

/* Mobile screens */
@media (max-width: 768px) {
    .card {
        margin-bottom: 1rem;
    }
}
body {
    padding: 0 15px;
}

footer {
    padding: 15px;
    text-align: center;
}

