{% extends 'main/base.html' %}
{% load custom_filters %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="mt-3">Welcome to the Learning Portal</h1>

    {% if user.is_authenticated %}
        <div class="mt-5">
            {% if user.is_authenticated %}
            <div class="accordion mt-5" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purchasedTutorials" aria-expanded="false" aria-controls="purchasedTutorials">
                            Your Purchased Tutorials
                        </button>
                    </h2>
                    <div id="purchasedTutorials" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                {% for tutorial in purchased_tutorials %}
                                    <li class="list-group-item">
                                        <a href="{% url 'tutorial_detail' tutorial.pk %}">
                                            <strong>{{ tutorial.title }}</strong>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li class="list-group-item">You haven't purchased any tutorials yet.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
           
    {% endif %}

    <h2 class="mt-5">Available Tutorials</h2>
    <div class="row">
        {% for tutorial in available_tutorials %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ tutorial.title }}</h5>
                        <p class="card-text">{{ tutorial.description }}</p>
                        <p class="text-muted">{{ tutorial.price|currency }}</p>
                        <a href="{% url 'tutorial_detail' tutorial.pk %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No tutorials available for purchase at the moment. Check back later!</p>
        {% endfor %}
    </div>
{% endblock %}
